# Arquivos de Sistema e OS
.DS_Store
Thumbs.db

# Cache de Editores e Arquivos de IDE
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 
# --- Backend (Python/Flask) ---
#
# Ambientes Virtuais (Nunca envie a pasta "venv")
backend/.venv/
backend/venv/

# Cache do Python
backend/__pycache__/
*.pyc
*.pyo

# Banco de dados (NUNCA "commite" o banco de dados)
backend/banco.db
*.db
*.sqlite3

# 
# --- Frontend (Node/React/Vite) ---
#
# Dependências (Pasta mais pesada do projeto)
frontend/node_modules/

# Arquivos de Build (Produção)
frontend/dist/
frontend/dist-ssr/

# Arquivos de ambiente local
frontend/*.local