.navbar {
    background-color: #333; /* Fundo escuro */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #ddd;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #555;
    color: white;
}

/* Destaque para o botão de Admin */
.nav-link.destaque {
    background-color: #2E7D32; /* Verde */
    color: white;
    font-weight: bold;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-sair {
    background-color: #c62828;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}